<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <title>Authorized Client</title>
    <!--  -->
    <% if (token) { %>
    <script>
      (function(I,n,f,o,b,i,p){
      I[b]=I[b]||function(){(I[b].q=I[b].q||[]).push(arguments)};
      I[b].t=1*new Date();i=n.createElement(f);i.async=1;i.src=o;
      p=n.getElementsByTagName(f)[0];p.parentNode.insertBefore(i,p)})
      (window,document,'script','https://livechat.infobip.com/widget.js','liveChat');
      
      liveChat('init', 'b33ccce1-ffcc-4778-9a69-86f19fa9a2f7');// add you widget ID
      liveChat('auth', '<%= token %>', function(error, result) {
          if (error) {
            console.log(error) 
            console.log(error.code, error.message)
          } else {
            // no errors
          }
          const logout = document.getElementById("logout-button");
          logout.addEventListener("click", (event) => {
            console.log(event)
            liveChat('logout', null, function(error, result) {
              if (error) {
                // do process error
                console.log(error.code, error.message)
              } else {
                console.log('logged out') // no errors
              }
            });
          })
        });          
      </script>
    <% } %>
</head>
<body>
  <section class="form animated flipInX">
    <h2>Thanks for Logging in. You can now chat with an agent</h2>
    <form action="/" method="get">
      <input id="logout-button" type="submit" value="Logout">
    </form> 
  </section>

</body>
</html>